body {
    background: #F2F2F0;
    margin: 0;
    color: #333;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Arimo', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'BioRhyme', serif;
    /* font-family: 'Didact Gothic', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */
}


/* HEADER NAVIGATION STUFF  */

.fixed-header {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    background: #779FC0;
}

.fixed-header h1 {
    padding: 14px 16px;
}

.fixed-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #476E8C;
}

.fixed-header li {
    float: left;
}

.fixed-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fixed-header li a:hover {
    background-color: #6F8C7D;
    color: white;
}


/* MAIN BODY CONTENT */

.container {
    margin: 0 auto;
    height: 1500px;
    margin-top: 200px;
    width: 80%;
}


/* FOOTER */

.footer {
    margin-top: 50px;
}

.footer a {
    color: #476E8C;
    text-decoration: none;
}

.footer a:hover {
    color: #9CBFAC;
    text-decoration: underline;
}